build
build/*

server/database/backup/*
server/database/backupzip/*

dist
dist/*

server/conf
server/conf/*

server/library/dhtmlx/material
server/library/dhtmlx/material/*

server/library/dhtmlx/skyblue
server/library/dhtmlx/skyblue/*

server/library/dhtmlx/terrace
server/library/dhtmlx/terrace/*

server/library/dhtmlx/web
server/library/dhtmlx/web/*

server/library/dhtmlx/material
server/library/dhtmlx/material/*

server/library/dhtmlx/skyblue
server/library/dhtmlx/skyblue/*

server/library/dhtmlx/terrace
server/library/dhtmlx/terrace/*

server/library/dhtmlx/web
server/library/dhtmlx/web/*

client/library/dhtmlx/material
client/library/dhtmlx/material/*

client/library/dhtmlx/skyblue
client/library/dhtmlx/skyblue/*

client/library/dhtmlx/terrace
client/library/dhtmlx/terrace/*

client/library/dhtmlx/web
client/library/dhtmlx/web/*

client/library/dhtmlx/material
client/library/dhtmlx/material/*

client/library/dhtmlx/skyblue
client/library/dhtmlx/skyblue/*

client/library/dhtmlx/terrace
client/library/dhtmlx/terrace/*

client/library/dhtmlx/web
client/library/dhtmlx/web/*


server/models/model.auth.js.logs/*
server/models/model.tree.js.files/html/*
server/models/model.tree.js.files/pdf/*
server/models/model.tree.js.files/word/*
server/models/model.tree.js.logs/*
server/models/model.usuarios.logs/*

node_modules
node_modules/*

server/node_modules
server/node_modules/*

client/node_modules
client/node_modules/*

client/.git/*
client/.gitignore

server/.git/*
server/.gitignore

debug
app-backend/ssl/*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log
