<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="UTF-8">

        <style>
            html, body {
                width    : 100%;
                height   : 100%;
                margin   : 0px;
                padding  : 0px;
                overflow : hidden;
            }
        </style>

    </head>
    <body>
        <script>

            var script     = document.createElement('script');
                script.src = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.js';
                document.body.appendChild(script);

            var css = document.createElement('link');
                css.rel  = 'stylesheet';
                css.type = 'text/css';
                css.href = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.css';
                document.body.appendChild(css);
                
            var $fs       = require('fs');
            var $path     = require('path');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $exe      = require(process.env.INIT_CWD + '/library/views.api');
            var $electron = require('electron');
            var $event    = $electron.ipcRenderer;
            var $window   = $electron.remote.BrowserWindow;
            var $dialog   = $electron.remote.dialog;

            var mdi = null;
            var menu = null;
            var ribbon = null;
            var toolbarc = null;
            var tree = null;
            var list = null;

                window.onload = ()=>{

                    mdi = new dhtmlXLayoutObject(document.body,'4A');
                    mdi.cells('a').setText('Biblioteca');
                    mdi.cells('a').fixSize(true,true);
                    mdi.cells('a').setWidth(280);
                    mdi.cells('a').setHeight(200);
                    mdi.cells('b').setText('Tareas');
                    mdi.cells('b').fixSize(true,true);
                    mdi.cells('b').setWidth(280);
                    mdi.cells('b').collapse();
                    mdi.cells('c').setText('Boletín');
                    mdi.cells('c').fixSize(false,false);
                    mdi.cells('d').setText('SILEJU');
                    mdi.cells('d').fixSize(false,false);
                    mdi.cells('d').attachURL('http://www.sileju.com');
                    mdi.cells('d').collapse();
                    mdi.attachEvent('onCollapse',(cell) => {
                        if(cell==='d'){
                            mdi.cells('a').layout.base.style.width='280px';
                            mdi.cells('a').setWidth(280);
                        }
                    });
                    mdi.attachEvent('onExpand',(cell) => {
                        if(cell==='d'){
                            mdi.cells('a').setWidth(0);
                            mdi.cells('a').layout.base.style.width='0px';
                            mdi.cells('c').setWidth(window.innerWidth/2);
                            mdi.cells('d').setWidth(window.innerWidth/2);
                        }
                    });

                    menu = mdi.attachMenu();
                    menu.loadStruct([
                        {id:'Archivo',text:'Archivo',img:'/icons/application.png',imgdis:'/icons/application.png',items:[
                            {id:'formPassword', text:'Cambiar Password',       img:'/icons/application_key.png',    imgdis:'/icons/application_key.png'},
                            {id:'formLogout',   text:'Cerrar la Sesión',       img:'/icons/time_delete.png',        imgdis:'/icons/time_delete.png'},
                            {id:'formClose',    text:'Salir de la Aplicación', img:'/icons/application_delete.png', imgdis:'/icons/application_delete.png'}
                        ]}
                    ]);
                    menu.attachEvent('onClick',(button) => {
                        if(button==='formPassword') $exe.formPassword();
                        if(button==='formLogout')   $exe.formLogout();
                        if(button==='formClose')    $exe.formClose();
                    });

                    ribbon = mdi.attachRibbon();
                    ribbon.loadStruct({
                        tabs:[
                            {id:'editor',text:'',active:true,items:[
                                {type:'block',text:'Boletines',mode:'cols', list:[
                                    {id:'boletinGuardar',type:'button',text:'Guardar Boletin',img:'/icons/page_save.png'}
                                ]},
                                {type:'block',text:'Herramientas',model:'cols',list:[
                                    {id:'leyNuevoAMano',         type:'button', text:'Ley',             img:'/icons/report.png'},
                                    {id:'resolucionNuevoAMano',  type:'button', text:'Resolución',      img:'/icons/script.png'},
                                    {id:'declaracionNuevoAMano', type:'button', text:'Declaración',     img:'/icons/newspaper.png'},
                                    {id:'tableRowDelete',        type:'button', text:'Eliminar Fila',   img:'/icons/table_row_delete.png'},
                                    {id:'tableRowInsert',        type:'button', text:'Insertar Fila',   img:'/icons/table_row_insert.png'},
                                    {id:'buscarProyecto',        type:'button', text:'Buscar Proyecto', img:'/icons/page_find.png'}
                                ]}
                            ]}
                        ]
                    });
                    ribbon.attachEvent('onClick',(button)=>{
                        if(button==='boletinGuardar')        $exe.boletinGuardar();
                        if(button==='leyNuevoAMano')         $exe.leyNuevoAMano();
                        if(button==='resolucionNuevoAMano')  $exe.resolucionNuevoAMano();
                        if(button==='declaracionNuevoAMano') $exe.declaracionNuevoAMano();
                        if(button==='tableRowDelete')        $exe.rowDelete();
                        if(button==='tableRowInsert')        $exe.rowInsert();
                        if(button==='buscarProyecto')        $exe.buscarProyecto();
                    });

                    toolbarc = mdi.cells('c').attachToolbar();
                    toolbarc.loadStruct([
                        {id:'boletinGuardar',        type:'button', text:'', img:'/icons/page_save.png'},
                        {id:'leyNuevoAMano',         type:'button', text:'', img:'/icons/report.png'},
                        {id:'resolucionNuevoAMano',  type:'button', text:'', img:'/icons/script.png'},
                        {id:'declaracionNuevoAMano', type:'button', text:'', img:'/icons/newspaper.png'},
                        {id:'tableRowDelete',        type:'button', text:'', img:'/icons/table_row_delete.png'},
                        {id:'tableRowInsert',        type:'button', text:'', img:'/icons/table_row_insert.png'},
                        {id:'buscarProyecto',        type:'button', text:'', img:'/icons/page_find.png'}
                    ]);
                    toolbarc.attachEvent('onClick',(button)=>{
                        if(button==='boletinGuardar')        $exe.boletinGuardar();
                        if(button==='leyNuevoAMano')         $exe.leyNuevoAMano();
                        if(button==='resolucionNuevoAMano')  $exe.resolucionNuevoAMano();
                        if(button==='declaracionNuevoAMano') $exe.declaracionNuevoAMano();
                        if(button==='tableRowDelete')        $exe.rowDelete();
                        if(button==='tableRowInsert')        $exe.rowInsert();
                        if(button==='buscarProyecto')        $exe.buscarProyecto();
                    });

                    tree = mdi.cells('a').attachTree();
                    tree.setImagesPath('/');
                    tree.load('/models/model/tree/init',null,'json');
                    tree.attachEvent('onSelect',$exe.boletinEditar);

                    list = mdi.cells('b').attachList();
                    list.define('type',{template:"<strong>#titulo#</strong>:<br/>#tarea#",width:270,margin:5});

                };

        </script>
    </body>
</html>
