<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="UTF-8">

        <style>
            html, body {
                width    : 100%;
                height   : 100%;
                margin   : 0px;
                padding  : 0px;
                overflow : hidden;
            }
        </style>

    </head>
    <body>
        <script>

            var script     = document.createElement('script');
                script.src = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.js'
                document.body.appendChild(script);

            var css = document.createElement('link');
                css.rel  = 'stylesheet';
                css.type = 'text/css';
                css.href = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.css';
                document.body.appendChild(css);
                
            var $fs       = require('fs');
            var $path     = require('path');
            var $electron = require('electron');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $event    = $electron.ipcRenderer;

            window.addEventListener('load',()=>{
                let layout = new dhtmlXLayoutObject(document.body,'1C');
                    layout.cells('a').setText('');
                    layout.cells('a').hideHeader();
                    layout.cells('a').attachHTMLString('<h3 style="text-align:center;">¿Esta seguro que desea cerrar la sesión?</h3>');
                
                let aceptar = () => {
                    let url ='/models/model/auth/logout';
                        $ajax
                            .delete(url,(json)=>{
                                if(json.result===true) $event.send('form-logout-application-logout');
                            });
                };

                let cancelar = () => {
                    $electron.remote.getCurrentWindow().close();
                };

                let toolbar = layout.cells('a').attachToolbar();
                    toolbar.loadStruct([
                        {id:'aceptar',  type:'button', text:'Aceptar',  img:'/icons/accept.png', imgdis:'/icons/accept.png'},    
                        {id:'cancelar', type:'button', text:'Cancelar', img:'/icons/cancel.png', imgdis:'/icons/cancel.png'}
                    ]);
                    toolbar.attachEvent('onClick',(id)=>{
                        if(id==='cancelar') cancelar();
                        if(id==='aceptar') aceptar();
                    });
            
            });

        </script>
    </body>
</html>