<!DOCTYPE html>
<html lang="es">
    <head>

            <meta charset="UTF-8">
        
            <style>
                html, body {
                    width    : 100%;
                    height   : 100%;
                    margin   : 0px; 
                    padding  : 0px;
                    overflow : hidden;
                }
            </style>

    </head>
    <body>
        <script>

            var script     = document.createElement('script');
                script.src = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.js'
                document.body.appendChild(script);

            var css = document.createElement('link');
                css.rel  = 'stylesheet';
                css.type = 'text/css';
                css.href = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.css';
                document.body.appendChild(css);
                
            var $fs       = require('fs');
            var $path     = require('path');
            var $md5      = require('js-md5');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $exe      = require(process.env.INIT_CWD + '/library/views.api');
            var $electron = require('electron');
            var $event    = $electron.ipcRenderer;
            var $window   = $electron.remote.BrowserWindow;
            var $dialog   = $electron.remote.dialog;

                window.onload = ()=>{

                    sessionStorage.setItem('remote-login',false);
                    sessionStorage.setItem('remote-user',null);
                    sessionStorage.setItem('remote-pass',null);

                    let url    = new URL(document.location);
                    let params = url.searchParams;
                    let periodoid = params.get('periodoid');
                    let boletinid = params.get('boletinid');
                    let boletinfile = params.get('boletinfile');

                    let layout = new dhtmlXLayoutObject(document.body,'1C');
                        layout.cells('a').setText('Boletines publicados en la Página Web');
                        layout.progressOn();

                    let buttons = new Array();
                        if(!(boletinfile==='undefined')) buttons.push({id:'insertar',type:'button',text:'Publicar: ' + boletinfile, img:'/icons/add.png',imgdis:'/icons/add.png'});
                        buttons.push({id:'eliminar',type:'button',text:'Eliminar',  img:'/icons/user_delete.png', imgdis:'/icons/user_delete.png'});
                        buttons.push({id:'cerrar',type:'button',text:'Cerrar',  img:'/icons/cancel.png', imgdis:'/icons/cancel.png'});

                    let toolbar = layout.cells('a').attachToolbar();
                        toolbar.loadStruct(buttons);
                        toolbar.attachEvent('onClick',(button)=>{
                            if(button==='eliminar') remoteFileDelete();
                            if(button==='insertar') remoteFileSend();
                            if(button==='cerrar') $electron.remote.getCurrentWindow().close();
                        });

                    let grid = layout.cells('a').attachGrid();
                        grid.setHeader('Periodo,Número,Tipo,Año,Fecha');
                        grid.setInitWidths('*,150,150,150,150');
                        grid.setColAlign('center,center,center,center,center');
                        grid.setColTypes('ro,ro,ro,ro,ro');
                        grid.setColSorting('str,str,str,str,str');
                        grid.init();

                    let window = new dhtmlXWindows();
                        window.createWindow('window',0,0,400,180);
                        window.window('window').setText('Autenticarse en el servidor remoto');
                        window.window('window').setModal(true);
                        window.window('window').denyMove();
                        window.window('window').denyPark();
                        window.window('window').denyResize();
                        window.window('window').button('close').hide();
                        window.window('window').center();

                    let windowToolbar = window.window('window').attachToolbar();
                        windowToolbar.loadStruct([
                            {id:'aceptar',  type:'button', text:'Aceptar',  img:'/icons/accept.png', imgdis:'/icons/accept.png'},
                            {id:'cancelar', type:'button', text:'Cancelar', img:'/icons/cancel.png', imgdis:'/icons/cancel.png'}
                        ]);
                        windowToolbar.attachEvent('onClick',(button)=>{
                            if(button==='aceptar') {
                                let user = windowForm.getItemValue('ruser');
                                    user = user.match(/[a-z0-9\-]{13}/gi);
                                    user = user.join('');
                                let pass = windowForm.getItemValue('rpass');
                                    pass = pass.match(/[a-z0-9]{4,20}/gi);
                                    pass = pass.join('');
                                    pass = $md5(pass);
                                    sessionStorage.setItem('remote-login',false);
                                    sessionStorage.setItem('remote-user',user);
                                    sessionStorage.setItem('remote-pass',pass);
                                    remoteLogin();
                            }

                            if(button==='cancelar') {
                                sessionStorage.setItem('remote-login',false);
                                sessionStorage.setItem('remote-user',null);
                                sessionStorage.setItem('remote-pass',null);
                                $electron.remote.getCurrentWindow().close();
                            }

                        });

                    let windowForm = window.window('window').attachForm();
                        windowForm.loadStruct([
                            {type:'block',width:300,position:'absolute',offsetLeft:50, list:[
                                {type:'input',    name:'ruser', label:'SILEJU Cuil:', maxLength:13, required:true},
                                {type:'password', name:'rpass', label:'SILEJU Pass:', maxLength:20, required:true}
                            ]}
                        ]);
                        windowForm.enableLiveValidation(true);
                        windowForm.attachEvent('onEnter',()=>{
                            windowToolbar.callEvent("onClick",['aceptar']);
                        });

                        // Eventos.
                        $electron.remote.getCurrentWindow().on('close',()=>{ return remoteLogout(); });

                    let remoteLogin = () => {

                            let url = new String();
                                url = '/models/model/tree/remote';

                            let header = new Object();
                                header['Content-Type'] = 'application/json';

                            let body = new Object();
                                body.user = sessionStorage.getItem('remote-user');
                                body.pass = sessionStorage.getItem('remote-pass');

                                window.window('window').progressOn();
                                $ajax
                                    .header(header)
                                    .body(body)
                                    .post(url,(json)=>{

                                        if(json.result===true){
                                            sessionStorage.setItem('remote-login',true);
                                            window.window('window').close();
                                            grid.load('/models/model/tree/remote/files','json');
                                            layout.progressOff();
                                        }

                                        else dhtmlx.alert({
                                            title:'Error',
                                            text:'El usuario no se pudo autenticar.',
                                            ok:'Aceptar'
                                        });

                                        window.window('window').progressOff();

                                    });
                        };

                    let remoteLogout = ()=>{
                            let login = eval(sessionStorage.getItem('remote-login'));
                                if(login===true){
                                    let url = new String();
                                        url = '/models/model/tree/remote';

                                    let header = new Object();
                                        header['Content-Type'] = 'application/json';

                                    let body = new Object();

                                        $ajax
                                            .header(header)
                                            .body(body)
                                            .delete(url,(json)=>{
                                                if(json.result===true){
                                                    sessionStorage.setItem('remote-login',false);
                                                    sessionStorage.setItem('remote-user',null);
                                                    sessionStorage.setItem('remote-pass',null);
                                                    return true;
                                                } else false;
                                            });

                                } return false;
                        };

                    let remoteFileSend = () => {

                            let login = eval(sessionStorage.getItem('remote-login'));
                                if(login===true){
                                    let url = new String();
                                        url = '/models/model/tree/remote/' + periodoid + '/' + boletinid;

                                    let header = new Object();
                                        header['Content-Type'] = 'application/json';

                                    let body = new Object();

                                        layout.cells('a').progressOn();
                                        $ajax
                                            .header(header)
                                            .body(body)
                                            .post(url,(json)=>{
                                                if(json.result===true){
                                                    toolbar.hideItem('insertar');
                                                    grid.load('/models/model/tree/remote/files','json');
                                                } else dhmtlx.alert({title:'Error',text:'No se pudo publicar el boletín',type:'alert-error'});
                                                layout.cells('a').progressOff();
                                            });
                                }
                                                        
                        };

                    let remoteFileDelete = () => {
                            let login = eval(sessionStorage.getItem('remote-login'));
                                if(login===true){
                                    if(confirm('¿Esta seguro que desea eliminar este boletin?')){

                                        let rowId = new String();
                                            rowId = grid.getSelectedRowId();

                                        let url = new String();
                                            url = '/models/model/tree/remote/'+rowId;

                                        let header = new Object();
                                            header['Content-Type'] = 'application/json';

                                        let body = new Object();

                                            layout.cells('a').progressOn();
                                            $ajax
                                                .header(header)
                                                .body(body)
                                                .delete(url,(json)=>{
                                                    if(json.result===true) grid.load('/models/model/tree/remote/files','json');
                                                    else dhtmlx.alert({
                                                        type:'alert-error',
                                                        title:'ERROR',
                                                        text:'No se pudo eliminar el boletín.',
                                                        ok:'Aceptar'
                                                    });
                                                    layout.cells('a').progressOff();
                                                });
                                    }
                                }
                        };

                };
        </script>
    </body>
</html>