<!DOCTYPE html>
<html lang="es">
    <head>

            <meta charset="UTF-8">
        
            <style>
                html, body {
                    width    : 100%;
                    height   : 100%;
                    margin   : 0px; 
                    padding  : 0px;
                    overflow : hidden;
                }
            </style>

    </head>
    <body>
        <script>

            var script     = document.createElement('script');
                script.src = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.js'
                document.body.appendChild(script);

            var css = document.createElement('link');
                css.rel  = 'stylesheet';
                css.type = 'text/css';
                css.href = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.css';
                document.body.appendChild(css);
                
            var $fs       = require('fs');
            var $path     = require('path');
            var $md5      = require('js-md5');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $exe      = require(process.env.INIT_CWD + '/library/views.api');
            var $electron = require('electron');
            var $event    = $electron.ipcRenderer;
            var $window   = $electron.remote.BrowserWindow;
            var $dialog   = $electron.remote.dialog;

                window.onload = ()=>{

                    let layout = new dhtmlXLayoutObject(document.body,'1C');
                        layout.cells('a').setText('Autorización a Boletines publicados en la Página Web');


                    let aceptar = ()=>{
                        if(form.validate()){

                            let url = '/models/model/tree/remote/oauth';
                            let header = {'Content-Type':'application/json'};
                            let body = new Object();
                                body.user = form.getItemValue('ruser');
                                body.user = body.user.match(/[a-z0--]/gi);
                                body.user = body.user.join('');
                                body.pass = form.getItemValue('rpass');
                                body.pass = body.pass.match(/[a-z0-9]{4,10}/gi);
                                body.pass = body.pass.join('');
                                body.pass = $md5(body.pass);
                            
                                $ajax
                                    .header(header)
                                    .body(body)
                                    .post(url,(json)=>{
                                        if(json.result===true) location.path('form.boletines.grid.html');
                                        else dhtmlx.alert({
                                            type:'alert-error',
                                            text:'El usuario o el password son incorrectos.',
                                            ok:'Aceptar',
                                            callback:()=>{
                                                form.setItemValue('ruser','');
                                                form.setItemValue('rpass','');
                                                form.setFocus('ruser');
                                            }
                                        });
                                    })
                        }
                    };

                    let cancelar = ()=>{
                        $electron.remote.getCurrentWindow().close();
                    };
                    
                    let form = layout.cells('a').attachForm();
                        form.loadStruct([
                            {type:'input',name:'ruser',label:'SILEJU user:',maxLength:13,required:true},
                            {type:'password',name:'rpass',label:'SILEJU pass:',maxLength:18,required:true}
                        ]);

                    let toolbar = layout.cells('a').attachToolbar();
                        toolbar.loadStruct([
                            {id:'aceptar',  type:'button', text:'Aceptar',  img:'/icons/accept.png', imgdis:'/icons/acept.png'},
                            {id:'cancelar', type:'button', text:'Cancelar', img:'/icons/cancel.png', imgdis:'/icons/camcel.png'}
                        ]);
                        toolbar.attachEvent('onClick',(button)=>{
                            switch(button){
                                case 'aceptar':  aceptar(); break;
                                case 'cancelar': cancelar(); break;
                            }
                        });

                };
        </script>
    </body>
</html>