<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="UTF-8">

        <script src="../dhtmlx.js"></script>
        <link rel="stylesheet" type="text/css" href="../dhtmlx.css"/>

        <style>
            html, body {
                width    : 100%;
                height   : 100%;
                margin   : 0px;
                padding  : 0px;
                overflow : hidden;
            }
        </style>

    </head>
    <body>
        <script>

            var $fs       = require('fs');
            var $path     = require('path');
            var $electron = require('electron');
            var $md5      = require('js-md5');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $event    = $electron.ipcRenderer;

            window.addEventListener('load',()=>{
    
                let aceptar = () => {
                        let pass   = form.getItemValue('pass');
                        let repass = form.getItemValue('repass');

                        if(pass===repass && pass.length>=4){

                            let url = '/models/model/auth/password';

                            let header = new Object();
                                header['Content-Type'] = 'application/json';
                            
                            let body = new Object();
                                body.newpass = pass;
                                body.newpass = body.newpass.match(/[a-z0-9]{4,10}/gi).join('');
                                body.newpass = $md5(body.newpass);

                                layout.progressOn();

                                $ajax
                                    .header(header)
                                    .body(body)
                                    .put(url,(json)=>{
                                        if(json.result==true) dhtmlx.message({
                                            type:'alert',
                                            title:'OK',
                                            text:'El password se ha modificado correctamente. Debe reinicar la aplicaciòn.',
                                            ok:'Aceptar',
                                            callback:()=>{
                                                cancelar();
                                                $event.send('form-password-application-quit');
                                            }                                        
                                        });
                                        else dhtmlx.message({
                                            type:'alert-error',
                                            title:'ERROR',
                                            text:'El password no se ha modificado correctamente.',
                                            ok:'Aceptar'
                                        });
                                        layout.progressOff();
                                    });

                        } else dhtmlx.message({
                            type:'alert-error',
                            title:'ERROR',
                            text:'Solo se debe utilizar números y letras.',
                            ok:'Aceptar'
                        });
                    };

                let cancelar = () => { $electron.remote.getCurrentWindow().close(); };

                let layout = new dhtmlXLayoutObject(document.body,'1C');
                    layout.cells('a').setText('Todos los campos son obligatorios.');

                let form = layout.cells('a').attachForm();
                    form.loadStruct([
                        {type:'block',list:[
                            {type:'label',label:'Nuevo Password'},
                            {name:'pass',type:'password',maxLength:10,inputWidth:160},
                            {type:'newcolumn'},
                            {type:'label',label:'Repetir Password'},
                            {name:'repass',type:'password',maxLength:10,inputWidth:160}
                        ]}
                    ]);
                    form.attachEvent('onEnter',aceptar);

                var toolbar = layout.attachToolbar();
                    toolbar.loadStruct([
                        {id:'aceptar',  type:'button', text:'Aceptar',  img:'/icons/accept.png', imgdis:'/icons/accept.png'},
                        {id:'cancelar', type:'button', text:'Cancelar', img:'/icons/cancel.png', imgdis:'/icons/cancel.png'}
                    ]);
                    toolbar.attachEvent('onClick',(id)=>{
                        switch(id){
                            case 'cancelar' : cancelar(); break;
                            case 'aceptar'  : aceptar();  break;
                        }
                    });

            });
        </script>
    </body>
</html>