<!DOCTYPE html>
<html lang="es">
    <head>

            <meta charset="UTF-8">
        
            <style>
                html, body {
                    width    : 100%;
                    height   : 100%;
                    margin   : 0px; 
                    padding  : 0px;
                    overflow : hidden;
                }
            </style>

    </head>
    <body>
        <script>

            var script     = document.createElement('script');
                script.src = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.js'
                document.body.appendChild(script);

            var css = document.createElement('link');
                css.rel  = 'stylesheet';
                css.type = 'text/css';
                css.href = 'file://' + process.env.INIT_CWD + '/library/dhtmlx/dhtmlx.css';
                document.body.appendChild(css);
                
            var $fs       = require('fs');
            var $path     = require('path');
            var $ajax     = require(process.env.INIT_CWD + '/library/ajax');
            var $exe      = require(process.env.INIT_CWD + '/library/views.api');
            var $electron = require('electron');
            var $event    = $electron.ipcRenderer;
            var $window   = $electron.remote.BrowserWindow;
            var $dialog   = $electron.remote.dialog;

                window.onload = ()=>{

                    let layout = new dhtmlXLayoutObject(document.body,'1C');
                        layout.cells('a').setText('Boletines publicados en la Página Web');
                        layout.progressOn();

                    let url = '/models/model/tree/remote/boletines';

                    let grid = layout.cells('a').attachGrid();
                        grid.setHeader('Periodo,Número,Tipo,Año,Fecha');
                        grid.setInitWidths('*,150,150,150,150');
                        grid.setColAlign('center,center,center,center,center');
                        grid.setColTypes('ro,ro,ro,ro,ro');
                        grid.setColSorting('str,str,str,str,str');
                        //grid.load(url,'json');
                        grid.init();

                    let remoteWindow = new dhtmlXWindows().createWindow('bwindow',0,0,400,280);
                        remoteWindow.denyPark();
                        remoteWindow.denyMove();
                        remoteWindow.denyResize();
                        remoteWindow.denyClose();
                        remoteWindow.centerOnScreen();

                    let remoteToolbar = remoteWindow.attachToolbar();
                        rmnoteToolbar.loadStruct([
                            {type:'button',label:'Aceptar'},
                            {type:'button',label:'Cancelar'}
                        ]);

                    let remoteForm = remoteWindow.attachForm();
                        remoteForm.loadStruct([
                            {type:'input',name:'ruser',label:'SILEJU User',maxlength:13,require:true},
                            {type:'password',name:'rpass',label:'SILEJU Pass:', maxlength:10,require:true}
                        ]);
                        remoteForm.enableLiveValidation(true);

                        

                    
                    /*let eliminar = () => {
                        layout.cells('a').progressOn();
                            let id = grid.getSelectedRowId();
                            let fname = grid.cells(id,1).getValue() + '-' + grid.cells(id,2).getValue();
                            if(id===null) dialog.showErrorBox('Error','Debe seleccionar una fila.');
                            else {
                                if(confirm('¿Esta seguro que desea eliminar el boletín seleccionado?')){
                                    let url = '/models/model/tree/remote/boletin/' + id + '/' + fname;
                                        dhx
                                            .ajax()
                                            .del(url,{},(json)=>{
                                                layout.cells('a').progressOff();
                                                json = JSON.parse(json);
                                                if(json.result===true) grid.deleteRow(id);
                                                else dialog.showErrorBox('Error','No se pudo borrar el usuario.');
                                            });
                                }
                            }
                        };*/

                    let toolbar = layout.cells('a').attachToolbar();
                        toolbar.loadStruct([
                            {id:'eliminar',  type:'button', text:'Eliminar',  img:'/icons/user_delete.png', imgdis:'/icons/user_delete.png'}
                        ]);
                        toolbar.attachEvent('onClick',(button)=>{
                            switch(button){
                                case 'eliminar': eliminar(); break;
                            }
                        });

                };
        </script>
    </body>
</html>